<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tmdistrict92.toastmasters" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="org.tmdistrict92.toastmasters.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.tmdistrict92.toastmasters.permission.C2D_MESSAGE" />

    <application
        android:name="org.tmdistrict92.toastmasters.ParseNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.tmdistrict92.toastmasters.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.timerSelectionActivity"
            android:label="@string/title_activity_timer_selection"
            android:parentActivityName="org.tmdistrict92.toastmasters.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.speechTimer"
            android:label="@string/title_activity_speech_timer"
            android:parentActivityName="org.tmdistrict92.toastmasters.timerSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.timerSelectionActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.AhCounterActivity"
            android:label="@string/title_activity_ah_counter"
            android:parentActivityName="org.tmdistrict92.toastmasters.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.roleDetail"
            android:label="@string/title_activity_role_detail"
            android:parentActivityName="org.tmdistrict92.toastmasters.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.webView"
            android:label="@string/title_activity_web_view"
            android:parentActivityName="org.tmdistrict92.toastmasters.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.DataSaveActivity"
            android:label="@string/title_activity_data_save"
            android:parentActivityName="org.tmdistrict92.toastmasters.AhCounterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.AhCounterActivity" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.TimerReport"
            android:label="@string/title_activity_timer_report"
            android:parentActivityName="org.tmdistrict92.toastmasters.speechTimer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.speechTimer" />
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.AdvancedSpeechesTimerSetting"
            android:label="@string/title_activity_advanced_speeches_timer_setting"
            android:parentActivityName="org.tmdistrict92.toastmasters.timerSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdistrict92.toastmasters.timerSelectionActivity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="org.tmdistrict92.toastmasters.util.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.district92.toastmasters" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <activity
            android:name="org.tmdistrict92.toastmasters.DistrictSelectionActivity"
            android:label="@string/title_activity_district_selection" >
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.WebactivityForParse"
            android:label="@string/title_activity_webactivity_for_parse" >
        </activity>
        <activity
            android:name="org.tmdistrict92.toastmasters.PushNotificationActivity"
            android:label="@string/title_activity_push_notification" >
        </activity>
    </application>

</manifest>
