<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.district92.toastmasters" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clubDetailActivity"
            android:label="@string/title_activity_club_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".educationDetailActivity"
            android:label="@string/title_activity_education_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".findClubActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_find_club"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".timerSelectionActivity"
            android:label="@string/title_activity_timer_selection"
            android:parentActivityName=".clubDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.clubDetailActivity" />
        </activity>
        <activity
            android:name=".speechTimer"
            android:label="@string/title_activity_speech_timer"
            android:parentActivityName=".timerSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.timerSelectionActivity" />
        </activity>
        <activity
            android:name=".aboutTimer"
            android:label="@string/title_activity_about_timer" >
        </activity>
        <activity
            android:name=".aboutToastmastersActivity"
            android:label="@string/title_activity_about_toastmasters"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".AhCounterActivity"
            android:label="@string/title_activity_ah_counter"
            android:parentActivityName=".clubDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.clubDetailActivity" />
        </activity>
        <activity
            android:name=".ClubSearchActivity"
            android:label="@string/title_activity_club_search" >
        </activity>
        <activity
            android:name=".LeadershipDetailActivity"
            android:label="@string/title_activity_leadership_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
    </application>

</manifest>
