<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.district92.toastmasters" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".timerSelectionActivity"
            android:label="@string/title_activity_timer_selection"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".speechTimer"
            android:label="@string/title_activity_speech_timer"
            android:parentActivityName=".timerSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.timerSelectionActivity" />
        </activity>
        <activity
            android:name=".AhCounterActivity"
            android:label="@string/title_activity_ah_counter"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".roleDetail"
            android:label="@string/title_activity_role_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".webView"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.MainActivity" />
        </activity>
        <activity
            android:name=".DataSaveActivity"
            android:label="@string/title_activity_data_save"
            android:parentActivityName=".AhCounterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.AhCounterActivity" />
        </activity>
        <activity
            android:name=".TimerReport"
            android:label="@string/title_activity_timer_report"
            android:parentActivityName=".speechTimer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.speechTimer" />
        </activity>
        <activity
            android:name=".AdvancedSpeechesTimerSetting"
            android:label="@string/title_activity_advanced_speeches_timer_setting"
            android:parentActivityName=".timerSelectionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.district92.toastmasters.timerSelectionActivity" />
        </activity>
    </application>

</manifest>
