<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karthikravindrarao.ToastDirector" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.karthikravindrarao.ToastDirector.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.karthikravindrarao.ToastDirector.permission.C2D_MESSAGE" />

    <application
        android:name="com.karthikravindrarao.ToastDirector.util.ParseNotification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.karthikravindrarao.ToastDirector.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.speechTimer"
            android:label="@string/title_activity_speech_timer"
            android:parentActivityName="com.karthikravindrarao.ToastDirector.TimerSelection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.AdvancedSpeechesTimerSetting"
            android:label="@string/title_activity_advanced_speeches_timer_setting"
            android:parentActivityName="com.karthikravindrarao.ToastDirector.TimerSelection"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.karthikravindrarao.ToastDirector.util.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.karthikravindrarao.ToastDirector" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <activity
            android:name="com.karthikravindrarao.ToastDirector.DistrictSelectionActivity"
            android:label="@string/title_activity_district_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.WebactivityForParse"
            android:label="@string/title_activity_webactivity_for_parse"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.PushNotificationActivity"
            android:label="@string/title_activity_push_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.WebViewForNotification"
            android:label="@string/title_activity_web_view_for_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.TimerSelection"
            android:label="@string/title_activity_timer_selection"
            android:parentActivityName="com.karthikravindrarao.ToastDirector.MainActivity" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.AhCounter"
            android:label="@string/title_activity_ah_counter"
            android:parentActivityName="com.karthikravindrarao.ToastDirector.MainActivity" >
        </activity>
        <activity
            android:name="com.karthikravindrarao.ToastDirector.passwordReset"
            android:label="@string/title_activity_password_reset"
            android:parentActivityName="com.karthikravindrarao.ToastDirector.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karthikravindrarao.ToastDirector.LoginActivity" />
        </activity>
    </application>

</manifest>
